@import '../../../styles/variables';

.castlesinfos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 40px;

  p {
    color: $text-color;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
}
